.riq{
    background-color:rgb(37, 96, 168);
    height:150px;
    background-image:url("../img/pattern.png");
    background-repeat: repeat-x;
    
}
.largo{
    background-repeat: repeat-x;
}
.logo2{
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    width:100px;
    margin-top: 120px;
    
}
.internet{
    font-family:'Times New Roman', Times, serif;
}
.bg-grey{
    color:grey;
}
.bg-blue{
    color:blue;
}
thead{
    color:white;
    background-color: rgb(27, 70, 144);
    
}
.bg-table1{
    background-color: aqua;
    
}
.bg-table2{
    background-color: aqua;
}
.bg-interessi{
    color:grey;
}